<footer class="page-footer bg-color">
    <div class="container row center-align">
        <div class="col s12 m12 l8 copy-right">
            本站由 &copy;<a href="http://blinkfox.com" target="_blank">Blinkfox </a>基于
            <a href="https://hexo.io/" target="_blank">Hexo</a> 搭建
        </div>
        <div class="col s12 m12 l4 social-link hide-on-med-and-down">
            <a href="https://github.com/ezjason" class="tooltipped" target="_blank" data-tooltip="GitHub" data-position="top" data-delay="50">
                <i class="fa fa-github fa-lg"></i>
            </a>
<!--            <a href="mailto:wLove_c@163.com" class="tooltipped" target="_blank" data-tooltip="邮件call我" data-position="top" data-delay="50">-->
<!--                <i class="fa fa-envelope fa-lg"></i>-->
<!--            </a>-->
<!--            <a href="https://blog.csdn.net/weixin_40755688" class="tooltipped" target="_blank" data-tooltip="CSDN" data-position="top" data-delay="50">-->
<!--                <i class="fa fa-lg fa-lg">博</i>-->
<!--            </a>-->
<!--            <a href="https://www.jianshu.com/u/486396b2fbdf" class="tooltipped" target="_blank" data-tooltip="简书主页" data-position="top" data-delay="50">-->
<!--                <i class="fa fa-lg">简</i>-->
<!--            </a>-->
<!--            <a href="https://juejin.im/user/5a3b55205188251fbd33cac0" class="tooltipped" target="_blank" data-tooltip="掘金主页" data-position="top" data-delay="50">-->
<!--                <i class="fa fa-lg">掘</i>-->
<!--            </a>-->
        </div>
    </div>
</footer>

<div class="progress-bar"></div>

<script src="/libs/materialize/js/materialize.min.js"></script>
<script src="/libs/masonry/masonry.pkgd.min.js"></script>
<script src="/libs/aos/aos.js"></script>
<script src="/libs/scrollprogress/scrollProgress.min.js"></script>
<script src="/libs/lightGallery/js/lightgallery-all.min.js"></script>
<script src="/js/search.js"></script>

<%- partial('_partial/baidu-auto-push') %>
