<div class="social-link">
 	<a href="https://github.com/wLove-c" class="tooltipped" target="_blank" data-tooltip="GitHub" data-position="top" data-delay="50">
			<i class="fa fa-github fa-lg"></i>
	</a>
	<a href="mailto:13670770507@163.com" class="tooltipped" target="_blank" data-tooltip="邮件call我" data-position="top" data-delay="50">
			<i class="fa fa-envelope fa-lg"></i>
	</a>
<!--	<a href="https://blog.csdn.net/weixin_40755688" class="tooltipped" target="_blank" data-tooltip="CSDN" data-position="top" data-delay="50">-->
<!--			<i class="fa fa-lg fa-lg">博</i>-->
<!--	</a>-->
<!--	<a href="https://www.jianshu.com/u/486396b2fbdf" class="tooltipped" target="_blank" data-tooltip="简书主页" data-position="top" data-delay="50">-->
<!--			<i class="fa fa-lg">简</i>-->
<!--	</a>-->
<!--	<a href="https://juejin.im/user/5a3b55205188251fbd33cac0" class="tooltipped" target="_blank" data-tooltip="掘金主页" data-position="top" data-delay="50">-->
<!--			<i class="fa fa-lg">掘</i>-->
<!--	</a>-->
</div>
